body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.text-center {
  text-align: center;
}

.no-table-border tr td {
  border-top: 0 !important;
}

.left-btn {
  margin-right: 5px !important;
}

.form-submit-btn {
  margin-top: 20px !important;
}

.print-only {
  display: none !important;
}

@media print {
  .no-print {
    display: none !important;
  }

  .detail-content {
    width: 100% !important;
    height: 100% !important;
  }

  .ui.grid > .row > [class*="thirteen wide"].column {
    width: 100% !important;
  }

  .print-only {
    display: block !important;
  }
}

.question-image-group-row {
  margin-bottom: -16px;
}

.ui.sortable.table thead th {
  border-left: none !important;
}

.grouped-btn {
  align-self: end;
}
